<div id="apps_panel">
  <div class="title">Ứng dụng</div>
  <div class="app_list">
    <!-- <a *ngFor="let app of auth.apps" [routerLink]="app.remoteName" [title]="app.appName"> -->
    <a *ngFor="let app of auth.apps" [title]="app.appName" (click)="onChangePath(app.remoteName)">
      <div class="app__item">
        <div class="app__item_avatar">
          <img [src]="app.appIcon" [alt]="app.appName">
        </div>
        <div class="app__item_name">
          {{app.appName}}
        </div>
      </div>
    </a>
  </div>
</div>

<div id="app__overlay" (click)="toggleAppsPanel()"></div>
<div class="app__bar_wrap">
  <div class="app__bar_icon" id="appMenu">
    <img src="/assets/icon_bar.svg" alt="apps" (click)="toggleAppsPanel()">
  </div>
  <div class="app__bar_main">

  </div>
  <div class="app__bar_account">
    <div *ngIf="auth.account" class="app__account_avatar" (click)="logout()">
      <img src="/assets/user.svg" [title]="auth.account.displayName" [alt]="auth.account.displayName">
    </div>
  </div>
</div>